*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.title-row{
    color: white;
}

/* HEADER */


header{
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 75px;
    width: 100%;

    /* DEBUG */

    background-color: grey;
}

/* MAIN */

section.side-bar{
    float: left;
    width: 10%;
    color: white;
    /* DEBUG */
    background-color: black;
}

section.main-body{
    width: 90%;
    height: calc(100vh - 90px);
    overflow: auto;

    background-color: #141922;
}

.main-body nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    
}
.main-body nav ul li{
    margin-left: 20px;
}
.main-body nav ul li a{
    text-decoration: none;
    color: white;
}

/* ALBUM BOXES */
section.albums .container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.album-box{
    width: calc(100% / 7);
    text-align: center;
    margin: 20px 20px 10px 0px;
}
.album-box .img-box{
    width: 100%;
}
.album-box img{
    width: 100%;
}
.album-box h3{
    margin: 10px 0px;
    color: white;
    font-weight: bold;
}
.grey-span{
    color: #717171;
}


/* FOOTER */

footer{
    height: 90px;
    background-color: #282828;
}